.worknav .col-md-12{
  margin-top: 0px;
  margin-left: -40px;
  margin-bottom: 30px;
  font-size: 12px;
}


.worknav .col-md-12 a{
 text-decoration: none;
    color: grey;
}

.worknav .col-md-12 a:hover{
 border-bottom: solid grey 2px;
}

#activework {
 border-bottom: solid #20abfc 2px;
}


.worknav .col-md-12 ul li{
  position: relative;
  display: inline;
  list-style: none;
  padding-right: 16px;
}